.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.form-title {
  text-align: center;
}

.container {
  font-size: 16px;
  width: 40%;
  margin: auto;
  margin-top: 2rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 8px;
}

textarea.form-input, input.form-input {
  font-size: 16px;
}

.form-button {
  padding: 8px;
  background: #09d3ac;
  font-size: 18px;
  font-weight: 500;
}

.card {
  border-bottom: 1px solid #e0e0e0;
}